<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiqiu.cfadata.dao.PersonDetailPOMapper">
    <resultMap id="BaseResultMap" type="com.haiqiu.cfadata.poentity.PersonDetailPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="shoesize" jdbcType="INTEGER" property="shoesize"/>
        <result column="preferred_side" jdbcType="VARCHAR" property="preferred_side"/>
        <result column="birth_place" jdbcType="VARCHAR" property="birth_place"/>
        <result column="birth_country_id" jdbcType="INTEGER" property="birthCountryId"/>
        <result column="position_1" jdbcType="VARCHAR" property="position_1"/>
        <result column="position_2" jdbcType="VARCHAR" property="position_2"/>
        <result column="died" jdbcType="VARCHAR" property="died"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, shoesize, preferred_side, birth_place, birth_country_id, position_1, position_2,
        died
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from person_detail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from person_detail
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.haiqiu.cfadata.poentity.PersonDetailPO">
        insert into person_detail (id, shoesize, preferred_side,
        birth_place, birth_country_id, position_1,
        position_2, died)
        values (#{id,jdbcType=INTEGER}, #{shoesize,jdbcType=INTEGER}, #{preferred_side,jdbcType=VARCHAR},
        #{birth_place,jdbcType=VARCHAR}, #{birthCountryId,jdbcType=INTEGER}, #{position_1,jdbcType=VARCHAR},
        #{position_2,jdbcType=VARCHAR}, #{died,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.haiqiu.cfadata.poentity.PersonDetailPO">
        insert into person_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shoesize != null">
                shoesize,
            </if>
            <if test="preferred_side != null">
                preferred_side,
            </if>
            <if test="birth_place != null">
                birth_place,
            </if>
            <if test="birthCountryId != null">
                birth_country_id,
            </if>
            <if test="position_1 != null">
                position_1,
            </if>
            <if test="position_2 != null">
                position_2,
            </if>
            <if test="died != null">
                died,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shoesize != null">
                #{shoesize,jdbcType=INTEGER},
            </if>
            <if test="preferred_side != null">
                #{preferred_side,jdbcType=VARCHAR},
            </if>
            <if test="birth_place != null">
                #{birth_place,jdbcType=VARCHAR},
            </if>
            <if test="birthCountryId != null">
                #{birthCountryId,jdbcType=INTEGER},
            </if>
            <if test="position_1 != null">
                #{position_1,jdbcType=VARCHAR},
            </if>
            <if test="position_2 != null">
                #{position_2,jdbcType=VARCHAR},
            </if>
            <if test="died != null">
                #{died,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.haiqiu.cfadata.poentity.PersonDetailPO">
        update person_detail
        <set>
            <if test="shoesize != null">
                shoesize = #{shoesize,jdbcType=INTEGER},
            </if>
            <if test="preferred_side != null">
                preferred_side = #{preferred_side,jdbcType=VARCHAR},
            </if>
            <if test="birth_place != null">
                birth_place = #{birth_place,jdbcType=VARCHAR},
            </if>
            <if test="birthCountryId != null">
                birth_country_id = #{birthCountryId,jdbcType=INTEGER},
            </if>
            <if test="position_1 != null">
                position_1 = #{position_1,jdbcType=VARCHAR},
            </if>
            <if test="position_2 != null">
                position_2 = #{position_2,jdbcType=VARCHAR},
            </if>
            <if test="died != null">
                died = #{died,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.haiqiu.cfadata.poentity.PersonDetailPO">
        update person_detail
        set shoesize = #{shoesize,jdbcType=INTEGER},
        preferred_side = #{preferred_side,jdbcType=VARCHAR},
        birth_place = #{birth_place,jdbcType=VARCHAR},
        birth_country_id = #{birthCountryId,jdbcType=INTEGER},
        position_1 = #{position_1,jdbcType=VARCHAR},
        position_2 = #{position_2,jdbcType=VARCHAR},
        died = #{died,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
